<%- include("partials/header"); -%>

<div class="art-img-container">
  <img class="art-img" src="/images/sample-img.png" alt="article-head-img">
</div>

<div id="art-title-container" class="container">
  <div class="row">
    <div class="title-div col col-11">
      <h2 class="art-title"><%=title%> </h2>
      <h3 class="art-subtitle">The Modern Prometheus and and Why Clare is the Best to Walk the Earth</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="art-body col col-11 col-lg-9 col-md-11">

      <div class="row author-div ">

        <div class="col col-12 col-md-5 col-lg-5 art-author">
          <h3>By <a href="/author/<%=author%>"><%=author%></a></h3>
        </div>
        <!-- <div class="col col-1"> -->
        <div class="col col-12 col-md-2 col-lg-2">
          <h1>|</h1>
        </div>
        <!-- </div> -->
        <div class="col col-12 col-md-5 col-lg-5  art-date">
          <h3>1 June 2020</h3>
        </div>
      </div>

      <p><%=content%></p>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
