<%- include("partials/header"); -%>

<div class="art-img-container">
  <% let link = article.img ? article.img : "/images/sample-img.png"; %>
  <img class="art-img" src="<%=link%>" alt="article-head-img">
</div>

<div id="art-title-container" class="container">
  <div class="row">
    <div class="title-div col col-11">
      <h2 class="art-title"><%=article.title%> </h2>
      <% if (article.subtitle != undefined){ %>
      <h3 class="art-subtitle"><%=article.subtitle%></h3>
      <% } %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="art-body col col-11 col-lg-9 col-md-11">

      <div class="row author-div ">

        <div class="col col-12 col-md-5 col-lg-5 art-author">
          <h3>By <a href="/author/<%=article.author%>"><%=article.author%></a></h3>
        </div>
        <!-- <div class="col col-1"> -->
        <div class="col col-12 col-md-2 col-lg-2">
          <h1>|</h1>
        </div>
        <!-- </div> -->
        <div class="col col-12 col-md-5 col-lg-5  art-date">
          <h3><%= article.dateString%></h3>

        </div>
      </div>

      <% var paragraphs = article.content.split("###"); %>
      <% paragraphs.forEach(function(p) { %>
        <p>
        <% var words = p.split(" ");%>
        <% words.forEach(function(w) {%>
        <% if(w.substring(0,2) === "{{") {%>
        <%    var linkGroup = w.split(",")%>
        <% var linkText = linkGroup[0].substring(2);%>
        <% var link = linkGroup[1].substring(0,linkGroup[1].length-2); %>
        <a class="styled-link" href=<%= link %>> <%=linkText%></a>
        <% } else {%>
        <%= w %>
        <% }%>
        <% })%>
        <br/>
      <% }) %>
    </p>

      <br/>
      <br/>
      <div class="read-more-div">
        <a href="/<%=article.section%>">
          <i class="fa fa-arrow-circle-left"></i>
          <% if(sectionAp == "#EXPOSED"){ %>
            <h6>READ MORE&nbsp; <i class="asterisk">#</i>EXPOSED</h6>
          <% } else {%>
          <h6>READ MORE&nbsp; <%=sectionAp%></h6>
          <% }%>
        </a>
      </div>

    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
