<%- include("partials/header"); -%>

<h2 class="section-title">Ask Off Locust</h2>

<br>
<div class="container">
  <div class="row">
    <div id="ask-form" class="col col-lg-7 col-md-9 col-sm-11 col-xs11">


<form action="/question" method="post" >
  <h3>Question for us?</h3>
  <textarea class="form-control" name="qBody" rows="5" cols="15" placeholder="Contact us here..."></textarea>
  <button type="submit" name="button" class="btn btn-red">Submit your question</button>
</form>
</div>
</div>
</div>

<%  articles.forEach(function(a){ %>

    <h1><%=a.title%></h1>
    <p>
    <%=a.content.substring(0, 100) + " ..."%>
    <a href="/articles/<%=a._id%>">Read More</a>
    </p>


<% }) %>

<%- include("partials/footer"); -%>
