<%- include("./partials/header"); -%>
<div id="compose">

  <h2 class="section-title">Compose</h2>


  <form id="compose-form" action="/compose-article" method="post">
    <h3>New Article</h3>
    <input type="text" name="title" placeholder="Title" size=80><br />
    <input type="text" name="subtitle" placeholder="Subtitle" size=80><br />
    <input type="text" name="author" placeholder="Author" size=80><br />
    <p>Here are the steps to get the image link: </p>
    <ol>
      <li>Sign in to offLocust imgur account and hit "new post" and drop your photo there. </li>
      <li>Right click on image and click "Open image in new tab."</li>
      <li>Right click on the image in the new tab and "Copy Image Address"</li>
      <li>That's it! No need to post the photo.</li>
    </ol>
    <input type="text" name="image" placeholder="Image Link" size=80><br />

    <label>Date (Use the automatic date picker, or input manually in format YYYY-MM-DD):</label><br />
    <input type="date" name="date" value="" required=true><br />

  <select id="section" name="section">
    <option value="" selected disabled>Select Section</option>
    <option value="exposed">#Exposed</option>
    <option value="confessionals">Confessionals</option>
    <option value="avant-garde">Avant-Garde</option>
    <option value="after-hours">After Hours</option>
    <option value="ask-off-locust">Ask Off Locust</option>
  </select><br /><br />

    <input type="checkbox" name="featured">Featured?<br />
    <p> To create a new paragraph, please copy and paste this: ### between every paragraph. <br />
    To add a link, format it like this: {{linkText,link}} with spaces before and after. If there are spaces in the link text, please format it like this: {{link_text_here,link.com}}.
    To add bold, surround your text with this: &ltb&gt (example: " &ltb&gtthis is my text&ltb&gt ")
    <br/>
    For italics, replace the b with i, and to use both bold and italics, replace with "bi".
    <br/>
    Note: When bolding, italicizing, or both, please make sure that there is a space before and after the &lti&gt even if it is on its own line!

      </p>


    <textarea type="text" name="content" rows=4 cols=80 placeholder="Content"></textarea> <br />
    <br />
    <button type="submit" name="button" class="btn btn-secondary">Publish</button>
  </form>

  <form class="" action="/compose-featured" method="post">
    <h3>Select Featured Articles</h3>

    <% articles.forEach(function(article){ %>
      <% let checked = article.featured? "checked" : "";%>
    <input type="checkbox" name="<%= article._id %>" <%=checked%> >
    <%= article.title %>, <%= article.dateString %> <br />
    <% }) %>
    <br />

    <button type="submit" name="button" class="btn btn-secondary">Update</button>
  </form>

  <form class="" action="/compose-delete" method="post">
    <h3>Delete Article(s)</h3>

    <% articles.forEach(function(article){ %>
    <input type="checkbox" name="<%= article._id %>" >
    <%= article.title %>, <%= article.dateString %> <br />
    <% }) %>
    <br />
    <button type="submit" name="button" class="btn btn-secondary">Delete Selected</button>
  </form>

    <h3>Edit Article</h3>

    <% articles.forEach(function(article){ %>
    <form class="edit-form" action="/compose-edit" method="post">
      <input type="hidden" name="articleId" value="<%=article._id%>">
      <button type="submit" class="btn btn-secondary"></button>
      <%= article.title %>, <%= article.dateString %> <br />
    </form>

    <% }) %>
    <br />

  <h2>Questions</h2>
  <% questions.forEach(function(question){ %>
  <%= question.content %> <br />
  <% }) %>
  <br />

  <form class="" action="/top5" method="post">
    <h2>Top 5 Trending (Avant-Garde)</h2>
      <p>To add a link, format it like this: {{linkText,link}} with spaces before and after. If there are spaces in the link text, please format it like this: {{link_text_here,link.com}}</p>
    <% topItems.forEach(function(item){ %>
      <% console.log(item, item[0], item[1]) %>
      <label><%= item[0] %>)</label>
      <input type="text" name= "items" value="<%=item[1]%>"><br />
    <% }); %>
    <button type="submit" name="button" class="btn btn-secondary">Update</button>
  </form>

</div>


<%- include("./partials/footer", {pageLink:"/"}); -%>
