<%- include("./partials/header"); -%>
<div id="compose">

  <h2 class="section-title">Compose</h2>


  <form class="" action="/compose-article" method="post">
    <h3>New Article</h3>
    <input type="text" name="title" placeholder="Title"><br />
    <input type="text" name="subtitle" placeholder="Subtitle"><br />
    <input type="text" name="author" placeholder="Author"><br />
    <input type="text" name="image" placeholder="Image Link"><br />



  <select id="section" name="section">
    <option value="exposed">#Exposed</option>
    <option value="confessionals">Confessionals</option>
    <option value="avant-garde">Avant-Garde</option>
    <option value="after-hours">After Hours</option>
    <option value="ask-off-locust">Ask Off Locust</option>
  </select>

    <input type="checkbox" name="featured">Featured?<br />
    <textarea type="text" name="content" rows=4 cols=80 placeholder="Content"></textarea> <br />
    <br />
    <button type="submit" name="button" class="btn btn-secondary">Publish</button>
  </form>

  <form class="" action="/compose-featured" method="post">
    <h3>Select Featured Articles</h3>

    <% articles.forEach(function(article){ %>
      <% let checked = article.featured? "checked" : "";%>
    <input type="checkbox" name="<%= article._id %>" <%=checked%> >
    <%= article.title %>, <%= article.date %> <br />
    <% }) %>
    <br />

    <button type="submit" name="button" class="btn btn-secondary">Update</button>
  </form>

  <form class="" action="/compose-delete" method="post">
    <h3>Delete Article(s)</h3>

    <% articles.forEach(function(article){ %>
    <input type="checkbox" name="<%= article._id %>" >
    <%= article.title %>, <%= article.date %> <br />
    <% }) %>
    <br />
    <button type="submit" name="button" class="btn btn-secondary">Delete Selected</button>
  </form>

  <form class="" action="/compose-edit" method="post">
    <h3>Edit Article</h3>

    <% articles.forEach(function(article){ %>
    <button type="submit" id="<%= article._id %>" name="<%= article._id %>" class=""></button>
    <%= article.title %>, <%= article.date %> <br />
    <% }) %>
    <br />
  </form>

</div>


<%- include("./partials/footer"); -%>
