<%- include("partials/header"); -%>

<h2 class="section-title">FEATURED</h2>


<%  articles.forEach(function(a){ %>


    <h1><%=a.title%></h1>
    <p>
    <%=a.content.substring(0, 100) + " ..."%>
    <a href="/articles/<%=a._id%>">Read More</a>
    </p>


<% }) %>
<div class="row">
  <div class="lg-col-5  sm-col-11">
    <div class="card home-card">
      <img class="card-img-top" src="images/sample-img.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ARTICLE TITLE HERE</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="lg-col-5  sm-col-11">
      <div class="card home-card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">ARTICLE TITLE HERE</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<h2 class="section-title">ABOUT</h2>


<%- include("partials/footer"); -%>
