<%- include("partials/header"); -%>

<h1>Off Locust</h1>
<h2> Clare was here</h2>


<%  articles.forEach(function(a){ %>

    <h1><%=a.title%></h1>
    <p>
    <%=a.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=a._id%>">Read More</a>
    </p>


<% }) %>

<%- include("partials/footer"); -%>

